        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kontakt
                    <small>Restaurant VINDE</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Forside</a>
                    </li>
                    <li class="active">Kontakt</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="
                https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8885.361998664523!2d10.1614008!3d56.1685066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37dd6744f446396d!2sRestaurant%20Vinde!5e0!3m2!1sen!2sdk!4v1639579530602!5m2!1sen!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Restaurant VINDE</h3>
                <p>
                    Viborgvej 161B,<br> 8210 Aarhus V.<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Telefon nummer">Tel</abbr>: 86 28 88 38</p>
                <p><i class="fa fa-clock-o"></i> 
                    Mandag - Torsdag: 14.00 - 22.00</p>
                <p><i class="fa fa-clock-o"></i> 
                    Fredag - Søndag: 12.00 - 23.00</p>
                    <p>(køkkenet lukker kl. 21.30)</p>
                <p><i class="fa fa-clock-o"></i> 
                    Just-eat afhentning alle dage: 14.00 - 21.00</p>
            </div>
        </div>
        <!-- /.row -->