        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sushi</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Forside</a></li>
                    <li class="active">Sushi</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a ng-click="gotoAnchor(cat)" class="list-group-item" ng-repeat="(cat, item) in sushi">{{cat}}</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">  
                <div id="anchor{{cat}}" class="row" ng-repeat="(cat, item) in sushi"> 
                    <h2>{{cat}}</h2>
                    <div class="col-md-4 img-portfolio" ng-repeat="(no, info) in item">
                        <img class="img-responsive img-hover" ng-src="images/sushi/{{no}}.jpg" alt="{{info.name}}" ng-class="{nigiri: cat == 'Nigiri'}">
                        <h4>{{no}}. {{info.name}}</h4>
                        <p>{{info.description}}</p>
                        <h4>kr. {{info.price}},-</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->