        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">DINER TRANSPORTABLE BUFFET
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Forside</a></li>
                    <li class="active">Dinner transportable</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-3" ng-repeat="(key, value) in dinners">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{key}}</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>kr.</sup> {{value.price}},-</span>
                        <span class="period" ng-if="value.min_buy > 1">Pris pr. couvert (min. {{value.min_buy}} couverter)</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in value.contains">{{item}}</li>
                        <li class="list-group-item active" ng-if="value.sushi.length > 1">Sushi (pr. person):</li>
                        <li class="list-group-item" ng-repeat="child in value.sushi">{{child}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->