        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Drikkekort</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Forside</a>
                    </li>
                    <li class="active">Drikkekort</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row" ng-repeat="(title, category) in diverse">
            <h2 class="title">{{title}}</h2>
            <table class="table table-condensed">
                    <thead>
                       <th>Nr.</th><th>Beskrivelse</th><th>Pris</th>
                    </thead>
                    <tr ng-repeat="(key, value) in category">
                        <td style="width:50px">{{key}}.</td><td>{{value.name}}</td><td style="width:50px">{{value.price}},-</td>
                    </tr>
                </table>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row" id="anchor{{cat}}" ng-repeat="(title, category) in wines">
            <h2>{{title}}</h2>
            <div class="col-md-6 details" ng-repeat="wine in category">
                <h3 class="title">{{wine.name}}</h3>
                <b>{{wine.type}}</b>
                <p class="description">{{wine.description}}</p>
                <h3 class="pris">kr. {{wine.price}},-</h4>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row" ng-repeat="(title, category) in spirits">
            <h2 class="title">{{title}}</h2>
            <table class="table table-condensed">
                    <thead>
                       <th>Nr.</th><th>Beskrivelse</th><th colspan="2">Pris</th>
                    </thead>
                    <tr ng-repeat="(key, value) in category">
                        <td style="width:50px">{{key}}.</td><td>{{value.name}}</td><td style="width:50px">{{value.price}},-</td><td style="width:100px"><span ng-show="value.price_alt !== undefined  && value.price_alt != ''">{{value.price_alt}},- (10 cl.)</span></td>
                    </tr>
                </table>
        </div>