        <!-- 
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-fw fa-birthday-cake"></i> 5 Års fødselsdag tilbud</h2>
                    </div>
                    <div class="panel-body">
                        <img src="/images/foedselsdag5.jpg" style="width: 100%">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Vinde buffet <small>fra Kr. 188,-</small>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> VINDE-BUFFET</h4>
                    </div>
                    <div class="panel-body">
                    <p>
                      
                        Alle ugens dage 16.30 - 21.30<br>
                        (Buffet serveres kun i restauranten).
                        </p>
                        <ul style="padding: 10px">
                            <li>Forret: Peking Suppe</li>
                            <li>Sushi: Nigiri – Inside-out – Maki</li>
                            <li>Mongolian Barbecue: 4 forskellige slags kød, Forskellige saucer</li>
                            <li>Stor salatbar</li>
                            <li>Hovedretter: 26 forskellige varme retter med tilbehør</li>
                            <li>Fri is, kaffe og the</li>
							<li>Buffet uden tilkøb af drikkevarer koster 20 kr ekstra</li>
                        </ul>
                        <!--<h3>Fødseldagstilbud 1-31. August</h3>-->
                        <table class="table table-condensed table-price">
                            <tr><td>Mandag-torsdag</td><td>kr. 188,-</td></tr>
                            <tr><td>Fredag-søndag</td><td>kr. 208,-</td></tr>
                            <tr><td>Børn under 12 år</td><td>½ pris</td></tr>
                            <tr><td>Børn under 3 år</td><td>¼ pris</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Bestil Online &#127836</h4>
                    </div>
                    <div class="panel-body">
                        <p><a href="https://restaurantvinde8210.dk/">Du kan nu bestille din mad online</a></p>
                    </div>
               	</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> ÅBNINGSTIDER</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-price">
                            <tbody><tr><td>Mandag-torsdag</td><td>16.00 - 22.00</td></tr>
                            <tr><td>Fredag-søndag</td><td>12.00 - 23.00</td></tr>
                            <tr><td>Just-eat afhentning alle dage</td><td>16.00 - 21.00</td></tr>
                        </tbody></table>
                        <p>(køkkenet lukker kl. 21.30)</p>
                        <p>Husets vin, øl og sodavand ad libitum (3 timer) i forbindelse med spisning ......... kr. 348,- </p>
                    </div>
                </div>
          	</div>
            
              <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> HER FINDER DU OS</h4>
                    </div>
                    <div class="panel-body">
                      <div
                        id="location-map"
                        class="location-map"
                        data-map-lat="56.16848"
                        data-map-lng="10.161381"
                        data-map-zoom="16"
                        data-map-label="Restaurant Vinde · Viborgvej 161B"
                        aria-label="Interaktivt kort over Restaurant Vinde"
                      >
                        <div class="location-map__fallback">
                          Kortet bliver indlæst, når JavaScript er aktiveret. Du kan også&nbsp;
                          <a href="https://www.google.com/maps/place/Viborgvej+161C,+8210+Aarhus+V,+Danmark/@56.16848,10.1591923,17z/data=!3m1!4b1!4m5!3m4!1s0x464c156731dab837:0xf0fd67043efe213e!8m2!3d56.16848!4d10.161381?hl=dk" target="_blank" rel="noopener">
                            åbne Google Maps
                          </a>.
                        </div>
                      </div>
                      <p>Restaurant VINDE<br />Viborgvej 161B, 8210 Aarhus V.</p>
                      <h2>Telefon 86 28 88 38</h2>
                      eller <tel>31235485</tel><br>
                      <a href="mailto:aifang@live.dk">aifang@live.dk</a>
                      <p>Vi ligger lige ved COOP365 og LIDL.<br />Ligger tæt på PUREGYM</p>
                      <a href="https://www.google.com/maps/place/Viborgvej+161C,+8210+Aarhus+V,+Danmark/@56.16848,10.1591923,17z/data=!3m1!4b1!4m5!3m4!1s0x464c156731dab837:0xf0fd67043efe213e!8m2!3d56.16848!4d10.161381?hl=dk" class="btn btn-default" target="_blank" rel="noopener">Find vej</a>

                      <!--<script>
                          function initMap() {
                            var uluru = {lat: 56.16848, lng: 10.1591923};
                            var map = new google.maps.Map(document.getElementById('map'), {
                              zoom: 15,
                              center: uluru
                            });
                            var marker = new google.maps.Marker({
                              position: uluru,
                              map: map
                            });
                          }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgPBY0e3z63sgAlU66cEfCvZSffJpuogo&callback=initMap"></script>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">VELKOMMEN TIL RESTAURANT VINDE</h2>
            </div>
            <div class="col-md-12">
                <p>Restaurant Vinde - flot kinesisk restaurant, der tilbyder den største kinesiske-, mongolian barbecue- og sushi buffet.</p>
                <ul>
                    <li>Vi har et stort udvalg af forskellige varme retter, lavet af første klasse råvarer, hvor smagen altid er i top - til fornuftige priser.</li>
                    <li>Her på Restaurant Vinde er maden forarbejdet af vores erfarne kok fra Kina. Han har tidligere arbejdet på et 5-stjernet hotel.</li>
                    <li>Vi er en kvalitetsbevidst restaurant med et højt serviceniveau, der leverer gode oplevelser.</li>
                    <li>Vi har plads til mange spisende gæster og har gode tilkørsels- og parkeringsforhold.</li>
                    <li>Vi har en stor scene som kan bruges til forskellige arrangementer, som mærkedage, firmafester o.lign.</li>
                    <li>Skal du have et arrangement hjemme, tilbyder vi <a href="#dinner">Dinner Transportable</a>. Kontakt os for en snak om Deres arrangement og hør hvad vi kan tilbyde.</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
