        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Take-away
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Forside</a>
                    </li>
                    <li class="active">Take-away</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->

        <div class="row">
            <h2>Takeaway</h2>
            <div class="col-md-4" ng-repeat="(key1, value1) in menus" ng-if="value1.takeawayprice > 1 && !key1.includes('Selskab')" >
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{key1}}</h3>
                    </div>
                    <h4>{{value1.description}}</h4>
                    <div class="panel-body">
                        <span class="price"><sup>kr.</sup> {{value1.takeawayprice}},-</span>
                        <span class="period" ng-if="value1.min_buy">Minium {{value1.min_buy}} couverter</span>
                        <span class="period" ng-if="!value1.min_buy">pr. person</span>
                    </div>
                    <div ng-repeat="(title1, items1) in value1" ng-if="!(title1.includes('price') || title1 == 'min_buy' || title1 == 'description')">
                        <h3>{{title1}}</h3>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item1 in items1">{{item1}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <h2>Selskabsmenuer</h2>
            <div class="col-md-6" ng-repeat="(key1, value1) in menus" ng-if="value1.takeawayprice > 1 && key1.includes('Selskab')" >
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{key1}}</h3>
                    </div>
                    <h4>{{value1.description}}</h4>
                    <div class="panel-body">
                        <span class="price"><sup>kr.</sup> {{value1.takeawayprice}},-</span>
                        <span class="period" ng-if="value1.min_buy">Minium {{value1.min_buy}} couverter</span>
                        <span class="period" ng-if="!value1.min_buy">pr. person</span>
                    </div>
                    <div ng-repeat="(title1, items1) in value1" ng-if="!(title1.includes('price') || title1 == 'min_buy' || title1 == 'description' || title1 == 'Dessert')">
                        <h3>{{title1}}</h3>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item1 in items1">{{item1}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row" ng-repeat="(title, category) in dinners" ng-if="title != 'Desserter'">
            <h2>{{title}}</h2>
            <div ng-repeat="(sub, items) in category">
                <h4 ng-show="sub != ''">{{sub}}</h4>
                <table class="table table-condensed">
                    <thead>
                        <th>Nr.</th><th>Beskrivelse</th><th>Pris</th>
                    </thead>
                    <tr ng-repeat="(key, value) in items" ng-if="value.takeawayprice > 1">
                        <td style="width:50px">{{key}}</td><td>{{value.description}}</td><td style="width:50px">{{value.takeawayprice}},-</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.row -->